<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#"><%= t('proof.menu.home') %></a></li>
        <li role="presentation"><a href="#"><%= t('proof.menu.about') %></a></li>
        <li role="presentation"><a href="#"><%= t('proof.menu.contact') %></a></li>
      </ul>
    </nav>
    <h3 class="text-muted"><%= t('proof.project_name') %></h3>
  </div>

  <div class="jumbotron">
    <h1><%= t('proof.jumbotron.heading') %></h1>
    <p class="lead"><%= t('proof.jumbotron.lead') %></p>
    <p><a class="btn btn-lg btn-success" href="#" role="button"><%= t('proof.jumbotron.call_to_action') %></a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4><%= t('proof.marketing.f1.h4') %></h4>
      <p><%= t('proof.marketing.f1.p') %></p>

      <h4><%= t('proof.marketing.f2.h4') %></h4>
      <p><%= t('proof.marketing.f2.p') %></p>

      <h4><%= t('proof.marketing.f3.h4') %></h4>
      <p><%= t('proof.marketing.f3.p') %></p>
    </div>

    <div class="col-lg-6">
      <h4><%= t('proof.marketing.f4.h4') %></h4>
      <p><%= t('proof.marketing.f4.p') %></p>

      <h4><%= t('proof.marketing.f5.h4') %></h4>
      <p><%= t('proof.marketing.f5.p') %></p>

      <h4><%= t('proof.marketing.f6.h4') %></h4>
      <p><%= t('proof.marketing.f6.p') %></p>
    </div>
  </div>

  <footer class="footer">
    <p>&copy;<%= t('proof.footer.copyright') %></p>
  </footer>

</div> <!-- /container -->
